@charset "UTF-8";
.app-breadcrumb-holder {
    margin-top: calc(5.75rem + 2.5rem)
}

@media (max-width:75rem) {
    .app-breadcrumb-holder {
        margin-top: 4.5rem
    }
}

@media (max-width:992px) {
    .app-breadcrumb-holder {
        margin-top: 4.5rem
    }
}

@media (max-width:29.6875rem) {
    .app-breadcrumb-holder {
        margin-top: 3.75rem
    }
}

html {
    font-size: 16px
}

html.ku-fz-lg {
    font-size: 18px
}

html.ku-fz-sm {
    font-size: 14px
}

body {
    font-family: "DB Ozone X", Prompt, SansSerif;
    font-size: 1rem;
    color: #222221;
    overflow-x: hidden
}

.cms-profile h2 {
    font-size: 3.125rem!important;
    line-height: .8!important
}

@media (max-width:575.98px) {
    .cms-profile h2 {
        font-size: 2.5rem!important;
        line-height: .5!important
    }
}

.cms-profile h2.big {
    font-size: 5rem!important;
    line-height: .5!important
}

@media (max-width:575.98px) {
    .cms-profile h2.big {
        font-size: 3.125rem!important;
        line-height: .4!important
    }
}

.cms-profile h3 {
    font-size: 2.5rem!important
}

@media (max-width:575.98px) {
    .cms-profile h3 {
        font-size: 1.875rem!important
    }
}

.cms-profile h4 {
    font-size: 30px!important;
    font-weight: 400!important
}

@media (max-width:575.98px) {
    .cms-profile h4 {
        font-size: 20px!important;
        font-weight: 400!important
    }
}

.cms-profile p {
    font-size: 1.625rem!important;
    line-height: 1.1!important
}

@media (max-width:575.98px) {
    .cms-profile p {
        font-size: 1.125rem!important;
        line-height: .8!important
    }
}

.cms-profile p.tab {
    text-indent: 1.875rem
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    word-wrap: break-word
}

h1 {
    font-size: 3.125rem
}

h2 {
    font-size: 2.25rem
}

p {
    font-size: 1.125rem
}

p.tab {
    text-indent: 1.875rem
}

a {
    color: #006664
}

a:hover {
    color: #b2bb1e;
    text-decoration: none
}

ul:not(.navbar-nav) {
    list-style: none
}

ul:not(.navbar-nav) li::before {
    content: "•";
    display: inline-block;
    color: #006664;
    font-weight: 700;
    width: 1em;
    margin-left: -1em;
    transform: scale(1.3)
}

ul:not(.navbar-nav).no-bullets li::before {
    display: none
}

.container {
    max-width: 1200px
}

.container.has-breadcrumb {
    margin-top: 2.1875rem
}

.container-fluid {
    max-width: 1600px
}

.row:not(.no-gutters) {
    margin-right: -.625rem;
    margin-left: -.625rem
}

.row:not(.no-gutters)>[class*=col-] {
    padding-right: .625rem;
    padding-left: .625rem
}

.font-weight-200 {
    font-weight: 200
}

.font-weight-300 {
    font-weight: 300
}

.font-weight-400 {
    font-weight: 400
}

.font-weight-500 {
    font-weight: 500
}

.font-weight-700 {
    font-weight: 700
}

.text-accent {
    color: #006664!important
}

.text-black {
    color: #222221
}

.text-white {
    color: #fff
}

.text-green {
    color: #006664
}

.text-green2 {
    color: #0e9fa2
}

.text-green-light {
    color: #b2bb1e!important
}

.text-green-light2 {
    color: #b2bb1e
}

.text-brown {
    color: #6e4b32
}

.text-yellow {
    color: #ffd800
}

.text-gray {
    color: #74787b
}

.text-gray-light {
    color: #dfdfdf
}

.text-gray-lighter {
    color: #f4f4f4
}

.bg-black {
    background-color: #222221
}

.bg-white {
    background-color: #fff
}

.bg-green {
    background-color: #006664
}

.bg-green2 {
    background-color: #0e9fa2
}

.bg-green-light {
    background-color: #b2bb1e
}

.bg-green-light2 {
    background-color: #b2bb1e
}

.bg-green-dark {
    background-color: #0e3b2a
}

.bg-brown {
    background-color: #6e4b32
}

.bg-yellow {
    background-color: #ffd800
}

.bg-gray {
    background-color: #74787b
}

.bg-gray-light {
    background-color: #dfdfdf
}

.bg-gray-lighter {
    background-color: #f4f4f4
}

.border {
    border: 1px solid rgba(53, 55, 55, .16)
}

.border-bottom {
    border-bottom: 1px solid rgba(53, 55, 55, .16)
}

.border-top {
    border-top: 1px solid rgba(53, 55, 55, .16)
}

.button {
    position: relative;
    display: inline-flex;
    min-width: 9.375rem;
    align-items: center;
    justify-content: center;
    padding: 0 .625rem;
    height: 4.0625rem;
    font-size: 1.25rem;
    line-height: 1;
    text-decoration: none;
    cursor: pointer;
    outline: 0
}

.button:hover {
    text-decoration: none
}

.button.button-round {
    border-radius: 12px
}

.button.button-black {
    color: #fff;
    background-color: #222221
}

.button.button-green-light {
    color: #fff;
    background-color: #b2bb1e
}

.button.button-green {
    color: #fff;
    background-color: #006664
}

.button.button-brown {
    color: #fff;
    background-color: #6e4b32
}

.button.button-gray {
    color: #fff;
    background-color: #74787b
}

.button.button-gray-light {
    color: #222221;
    background-color: #dfdfdf
}

.button.button-yellow {
    color: #222221;
    background-color: #ffd800
}

.header-box {
    position: relative;
    display: flex;
    align-items: center;
    padding-left: 7.8125rem;
    height: 4rem!important;
    font-weight: 300;
    text-decoration: none;
    overflow: hidden
}

@media (max-width:575.98px) {
    .header-box {
        height: 2.5rem!important
    }
}

.header-box>i {
    position: absolute;
    z-index: 3;
    left: .563rem;
    bottom: .375rem;
    font-size: 2.8rem;
    color: #fff;
    transform: rotate(45deg)
}

.header-box:hover {
    text-decoration: none
}

.header-box::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 7.5rem;
    height: 100%;
    z-index: 2;
    -webkit-clip-path: polygon(0 0, 100% 0, 60% 100%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 60% 100%, 0 100%)
}

.header-box.corner-green-light::before {
    background-color: #b2bb1e
}

.header-box.corner-green::before {
    background-color: #006664
}

.header-box.corner-green2::before {
    background-color: #0e9fa2
}

.header-box.corner-green-dark::before {
    background-color: #0e3b2a
}

.header-box.corner-yellow::before {
    background-color: #ffd800
}

.header-box.corner-yellow i {
    color: #222221
}

.header-box.header-box-animated.header-box-animated-light:hover span {
    color: #fff!important
}

.header-box.header-box-animated.header-box-animated-dark:hover span {
    color: #fff!important
}

.header-box.header-box-animated span {
    z-index: 2;
    position: relative
}

.header-box.header-box-animated::before {
    transition: all .2s ease;
    z-index: 1
}

.header-box.header-box-animated:hover {
    cursor: pointer
}

.header-box.header-box-animated:hover::before {
    width: 100%;
    -webkit-clip-path: none;
    clip-path: none
}

.header-box.header-box-social {
    font-weight: 500;
    padding-left: 5rem
}

.header-box.header-box-social::before {
    width: 4rem
}

.header-box.header-box-social i {
    font-size: 1.5rem;
    left: .8rem;
    bottom: .8rem
}

.header-box.header-box-social i.fab {
    transform: rotate(0)
}

.social-button {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 42px;
    height: 42px;
    border-radius: 50%;
    margin: 0 2px 5px;
    cursor: pointer
}

.social-button:last-child {
    margin-right: 0
}

.social-button:before {
    content: "";
    position: absolute;
    width: 42px;
    height: 42px;
    border-radius: 100%;
    display: block;
    background-color: #b2bb1e;
    transition: all 275ms;
    transform: scale(1)
}

.social-button i {
    color: #fff;
    font-size: 1.4rem;
    position: absolute;
    left: 50%;
    top: 50%;
    transition: all 275ms;
    transform: translate(-50%, -51%) scale(1)
}

.social-button:hover:before {
    transform: scale(0);
    background-color: #006664
}

.social-button:hover i {
    transform: translate(-50%, -51%) scale(1.4);
    color: #b2bb1e
}

.social-button.facebook:before {
    background-color: #3b5998
}

.social-button.facebook:hover i {
    color: #3b5998
}

.social-button.twitter:before {
    background-color: #1da1f2
}

.social-button.twitter:hover i {
    color: #1da1f2
}

.social-button.fb-msg:before {
    background-color: #0084ff
}

.social-button.fb-msg:hover i {
    color: #0084ff
}

.social-button.youtube:before {
    background-color: #e62117
}

.social-button.youtube:hover i {
    color: #e62117
}

.social-button.line:before {
    background-color: #00b900
}

.social-button.line:hover i {
    color: #00b900
}

.social-button.instagram:before {
    background-color: #c32aa3
}

.social-button.instagram:hover i {
    color: #c32aa3
}

.social-button.embed:before {
    background-color: #74787b
}

.social-button.embed:hover i {
    color: #74787b
}

.social-button.pinterest:before {
    background-color: #cb2027
}

.social-button.pinterest:hover i {
    color: #cb2027
}

.social-button2 {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 42px;
    height: 42px;
    border-radius: 50%;
    margin-right: .4375rem;
    cursor: pointer
}

.social-button2:last-child {
    margin-right: 0
}

.social-button2 span {
    position: absolute;
    width: 42px;
    height: 42px;
    border-radius: 100%;
    display: block;
    background-color: #b2bb1e;
    transition: all 275ms;
    transform: scale(1)
}

.social-button2 i {
    color: #fff;
    font-size: 1.4rem;
    position: absolute;
    left: 50%;
    top: 50%;
    transition: all 275ms;
    transform: translate(-50%, -51%) scale(1)
}

.social-button2:hover span {
    transform: scale(0);
    background-color: #006664
}

.social-button2:hover i {
    transform: translate(-50%, -51%) scale(1.4);
    color: #b2bb1e
}

.social-button2.facebook span {
    background-color: #3b5998
}

.social-button2.facebook:hover i {
    color: #3b5998
}

.social-button2.twitter span {
    background-color: #1da1f2
}

.social-button2.twitter:hover i {
    color: #1da1f2
}

.social-button2.fb-msg span {
    background-color: #0084ff
}

.social-button2.fb-msg:hover i {
    color: #0084ff
}

.social-button2.youtube span {
    background-color: #e62117
}

.social-button2.youtube:hover i {
    color: #e62117
}

.social-button2.line span {
    background-color: #00b900
}

.social-button2.line:hover i {
    color: #00b900
}

.social-button2.instagram span {
    background-color: #c32aa3
}

.social-button2.instagram:hover i {
    color: #c32aa3
}

.social-button2.embed span {
    background-color: #74787b
}

.social-button2.embed:hover i {
    color: #74787b
}

.social-button2.pinterest span {
    background-color: #cb2027
}

.social-button2.pinterest:hover i {
    color: #cb2027
}

.social-button-small {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 1.8125rem;
    height: 1.8125rem;
    margin-right: .4375rem;
    cursor: pointer
}

.social-button-small:before {
    content: "";
    position: absolute;
    width: 1.8125rem;
    height: 1.8125rem;
    border-radius: 100%;
    display: block;
    background-color: #b2bb1e;
    transition: all 275ms;
    transform: scale(1)
}

.social-button-small i {
    color: #fff;
    font-size: 1.2rem;
    position: absolute;
    left: 50%;
    top: 50%;
    transition: all 275ms;
    transform: translate(-50%, -51%) scale(1)
}

.social-button-small:hover:before {
    transform: scale(0);
    background-color: #006664
}

.social-button-small:hover i {
    transform: translate(-50%, -51%) scale(1.4);
    color: #b2bb1e
}

.social-button-small.facebook:before {
    background-color: #3b5998
}

.social-button-small.facebook:hover i {
    color: #3b5998
}

.social-button-small.twitter:before {
    background-color: #1da1f2
}

.social-button-small.twitter:hover i {
    color: #1da1f2
}

.social-button-small.fb-msg:before {
    background-color: #0084ff
}

.social-button-small.fb-msg:hover i {
    color: #0084ff
}

.social-button-small.youtube:before {
    background-color: #e62117
}

.social-button-small.youtube:hover i {
    color: #e62117
}

.social-button-small.line:before {
    background-color: #00b900
}

.social-button-small.line:hover i {
    color: #00b900
}

.social-button-small.instagram:before {
    background-color: #c32aa3
}

.social-button-small.instagram:hover i {
    color: #c32aa3
}

.social-button-small.pinterest:before {
    background-color: #cb2027
}

.social-button-small.pinterest:hover i {
    color: #cb2027
}

.icon-count {
    display: flex;
    align-items: center;
    color: #74787b
}

.icon-count:not(:last-child) {
    margin-right: .75rem
}

.icon-count i {
    font-size: .85rem
}

.icon-count span {
    font-size: 1.25rem!important;
    margin-left: .5rem;
    font-weight: 300
}

@media (max-width:575.98px) {
    .icon-count span {
        font-size: 1rem
    }
}

.tags {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    font-size: 1.25rem;
    color: #222221
}

.tags .tag {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 1.5625rem;
    line-height: 1.5625rem;
    min-width: 3.75rem;
    border-radius: 50px;
    margin-left: .3125rem;
    margin-bottom: .3125rem;
    padding: 0 .9375rem;
    background-color: #222221;
    color: #fff;
    font-weight: 200;
    cursor: pointer;
    text-align: center;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis
}

.tags .tag:first-child {
    margin-left: 1.25rem
}

.icon {
    color: #006664
}

.arrow-tip-bullet {
    position: relative
}

.arrow-tip-bullet:after {
    content: "";
    position: absolute;
    width: 12px;
    height: 12px;
    top: 50%;
    left: -.5rem;
    transform: translateY(-50%);
    background: center/contain no-repeat url(../images/common/arrow_tip_icon.svg)
}

.input {
    position: relative
}

.input input,
.input textarea {
    padding: .4375rem .8125rem;
    width: 100%;
    height: 100%;
    min-height: 2.5rem;
    font-size: 1.25rem;
    border: 1px solid #dfdfdf;
    border-radius: 0;
    outline: 0
}

.input input::-webkit-input-placeholder,
.input textarea::-webkit-input-placeholder {
    color: #878989
}

.input input::-moz-placeholder,
.input textarea::-moz-placeholder {
    color: #878989
}

.input input:-ms-input-placeholder,
.input textarea:-ms-input-placeholder {
    color: #878989
}

.input input::-ms-input-placeholder,
.input textarea::-ms-input-placeholder {
    color: #878989
}

.input input::placeholder,
.input textarea::placeholder {
    color: #878989
}

.input input:-moz-placeholder,
.input textarea:-moz-placeholder {
    color: #878989
}

.input input:-ms-input-placeholder,
.input textarea:-ms-input-placeholder {
    color: #878989
}

.input input::-webkit-input-placeholder,
.input textarea::-webkit-input-placeholder {
    color: #878989
}

.input .input-icon {
    position: absolute;
    right: .8125rem;
    top: 50%;
    transform: translateY(-50%);
    font-size: 1.25rem;
    cursor: pointer
}

.input-file .input-upload {
    width: .1px;
    height: .1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1
}

.input-file label {
    display: flex;
    align-items: stretch;
    margin-bottom: 0;
    height: 2.5rem;
    font-size: 1.25rem;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    padding: 0;
    cursor: pointer
}

.input-file label .filename-upload {
    display: flex;
    align-items: center;
    flex: 1 1 auto;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    border: 1px solid #dfdfdf;
    background-color: #fff;
    padding-left: 1.25rem
}

.input-file label .button-upload {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 1.25rem;
    flex: 0 0 8.125rem;
    color: #fff;
    background-color: #222221
}

.select {
    position: relative
}

.select select {
    position: relative;
    z-index: 2;
    padding: 0 .8125rem;
    width: 100%;
    height: 100%;
    min-height: 2.5rem;
    font-size: 1.25rem;
    outline: 0;
    border: 1px solid #dfdfdf;
    border-radius: 0;
    background-color: transparent;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none
}

.select select::-webkit-input-placeholder {
    color: #878989
}

.select select::-moz-placeholder {
    color: #878989
}

.select select:-ms-input-placeholder {
    color: #878989
}

.select select::-ms-input-placeholder {
    color: #878989
}

.select select::placeholder {
    color: #878989
}

.select select:-moz-placeholder {
    color: #878989
}

.select select:-ms-input-placeholder {
    color: #878989
}

.select select::-webkit-input-placeholder {
    color: #878989
}

.select select::-ms-expand {
    display: none
}

@-moz-document url-prefix() {
    .select select option {
        font-size: .875rem;
        font-weight: 300
    }
}

.select::after {
    content: "";
    font-family: "Font Awesome 5 Free";
    font-weight: 700;
    position: absolute;
    z-index: 1;
    top: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: .6875rem;
    width: 100%;
    height: 100%;
    color: #006664;
    background: linear-gradient(90deg, #fff calc(100% - 2.25rem), #dfdfdf 2.25rem)
}

.checkbox {
    display: flex;
    align-items: center;
    position: relative;
    padding-left: 2.1875rem;
    margin-right: auto;
    margin-bottom: .75rem;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer
}

.checkbox input {
    position: absolute;
    width: 0;
    height: 0;
    opacity: 0;
    cursor: pointer
}

.checkbox input:checked~.checkmark {
    border: 3px solid #006664
}

.checkbox input:checked~.checkmark::after {
    display: block
}

.checkbox .checkmark {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    height: 1.125rem;
    width: 1.125rem;
    border: 1px solid #dfdfdf;
    background-color: #fff
}

.checkbox .checkmark::after {
    display: none;
    content: "";
    position: absolute;
    top: -.125rem;
    left: .0625rem;
    font-family: "Font Awesome 5 Free";
    font-size: .9375rem;
    font-weight: 700;
    line-height: 1
}

.radio {
    display: flex;
    align-items: center;
    position: relative;
    padding-left: 2.1875rem;
    margin-right: auto;
    margin-bottom: .75rem;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer
}

.radio input {
    position: absolute;
    width: 0;
    height: 0;
    opacity: 0;
    cursor: pointer
}

.radio input:checked~.checkmark {
    border: 1px solid #006664;
    background-color: #006664
}

.radio .checkmark {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    height: 1rem;
    width: 1rem;
    background-color: #fff;
    border: 1px solid #dfdfdf;
    border-radius: 50%
}

.app-breadcrumb-holder {
    position: relative;
    background: #e8e8e8;
    padding-top: 1rem;
    padding-bottom: .5rem
}

.app-breadcrumb-holder h1 {
    line-height: .8;
    font-size: 2.5rem
}

@media (max-width:991.98px) {
    .app-breadcrumb-holder h1 {
        line-height: 1
    }
}

.app-breadcrumb .app-breadcrumb-item {
    font-weight: 500
}

.app-breadcrumb .app-breadcrumb-item:not(:last-child)::after {
    content: "/";
    color: #222221;
    padding-left: .1875rem;
    padding-right: .3125rem
}

.contact-card {
    font-size: 1.25rem;
    font-weight: 300;
    line-height: 1.2;
    padding-bottom: .9375rem
}

.contact-card:not(:first-child) {
    padding-top: .9375rem
}

.contact-card:not(:last-child) {
    border-bottom: 1px solid rgba(53, 55, 55, .16)
}

.contact-card .main-info {
    display: flex;
    flex-direction: column;
    margin-bottom: .9375rem;
    font-weight: 500
}

.contact-card .main-info .title {
    color: #006664
}

.contact-card .main-info .detail {
    font-weight: 300;
    line-height: 1.6
}

.contact-card .sub-info {
    display: flex;
    word-break: break-all
}

.app-pagination {
    align-items: center;
    margin-bottom: 0
}

.app-pagination li::before {
    display: none!important
}

.app-pagination a {
    text-decoration: none
}

.app-pagination li {
    margin: 0 .625rem
}

@media (max-width:767.98px) {
    .app-pagination li {
        margin: 0
    }
}

.app-pagination li:first-child a,
.app-pagination li:last-child a {
    font-size: 1.125rem;
    color: #006664
}

.app-pagination li a {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 3rem;
    padding: 0 .6875rem;
    font-size: 1.25rem;
    font-weight: 500;
    color: #222221;
    background-color: transparent;
    border: none;
    border-radius: 3px;
    box-shadow: none;
    outline: 0
}

.app-pagination li:not(.disabled):not(.active):hover a {
    color: #fff;
    background-color: #222221;
    border-color: #222221
}

.app-pagination li.page-item.active a {
    color: #b2bb1e;
    background-color: #222221;
    border-color: #222221
}

.app-pagination li.disabled a {
    color: #dfdfdf
}

.search-box {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    background-color: #fff;
    padding-top: 1.5rem!important;
    padding-bottom: 1.5rem!important
}

.search-box .input,
.search-box .select {
    width: 15rem;
    height: 2rem
}

.search-box .input:not(:first-child),
.search-box .select:not(:first-child) {
    margin-left: .625rem
}

@media (max-width:767.98px) {
    .search-box .input:not(:first-child),
    .search-box .select:not(:first-child) {
        margin-left: 0
    }
}

.search-box .input input {
    min-height: 2rem
}

.search-box .select::after {
    background: #fff
}

.search-box .select select {
    min-height: 2rem
}

.search-box .type-buttons {
    display: flex;
    margin-left: .9375rem
}

.search-box .type-buttons .type-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2.5rem;
    height: 2rem;
    border: 1px solid #74787b;
    cursor: pointer
}

.search-box .type-buttons .type-button.active {
    background-color: #b2bb1e
}

.search-box .type-buttons .type-button:not(:first-child) {
    margin-left: .625rem
}

.app-accordion {
    font-size: 1.25rem;
    background-color: #fff
}

.app-accordion .app-accordion-title {
    display: flex;
    align-items: center;
    padding: 0 1.625rem;
    height: 3.3125rem;
    font-size: 1.5rem;
    font-weight: 500;
    color: #fff;
    background-color: #222221
}

.app-accordion .app-accordion-toggle {
    display: flex;
    align-items: center;
    padding: 0 1.625rem;
    height: 2rem;
    color: #fff;
    background-color: #b2bb1e;
    cursor: pointer
}

.app-accordion .app-accordion-toggle i {
    font-size: 1rem;
    margin-left: auto;
    transform: rotate(90deg);
    transition: all .2s ease
}

.app-accordion .app-accordion-toggle.collapsed i {
    transform: rotate(0)
}

.app-accordion .app-accordion-list:last-child {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px
}

.app-accordion .app-accordion-list ul {
    position: relative;
    margin-top: .625rem;
    padding-left: 1.25rem;
    padding-right: 1.25rem
}

.app-accordion .app-accordion-list ul li::before {
    display: none
}

.app-accordion .app-accordion-list ul li a {
    display: flex;
    padding-left: 1.75rem;
    color: #222221;
    line-height: 1.7;
    text-decoration: none;
    transition: all .2s ease
}

.app-accordion .app-accordion-list ul li a::before {
    content: "•";
    position: absolute;
    display: inline-block;
    margin-left: -1em;
    width: .9em;
    color: #dfdfdf;
    font-weight: 700;
    transform: scale(1.3)
}

.app-accordion .app-accordion-list ul li a:hover {
    font-weight: 500;
    color: #b2bb1e
}

.app-accordion .app-accordion-list ul li a:hover::before {
    color: #b2bb1e
}

.news-card {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 33.125rem;
    font-size: 1.25rem;
    transition: all .2s ease
}

.news-card.news-card-v .thumbnail {
    flex: 80%;
    border: none
}

.news-card.news-card-v .news-detail {
    flex: 20%;
    background-color: #f4f4f4
}

.news-card.news-card-v .news-detail .title {
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis
}

.news-card.news-card-v .news-detail .detail {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis
}

.news-card.news-card-h {
    flex-direction: row
}

.news-card.news-card-h .thumbnail {
    height: 100%;
    flex: 50%;
    border: none
}

.news-card.news-card-h .thumbnail img {
    min-height: 100%;
    width: auto
}

.news-card.news-card-h .news-detail {
    height: 100%;
    flex: 50%;
    color: #fff;
    background-color: #006664
}

.news-card.news-card-h .news-detail .title {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis
}

.news-card.news-card-h .news-detail .detail {
    display: -webkit-box;
    -webkit-line-clamp: 10;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis
}

.news-card.news-card-elevated,
.news-card:hover:not(.news-card-v):not(.news-card-h) {
    cursor: pointer;
    box-shadow: 0 -5px 20px 3px rgba(0, 0, 0, .2)
}

.news-card.news-card-elevated .thumbnail,
.news-card:hover:not(.news-card-v):not(.news-card-h) .thumbnail {
    border: 6px solid #fff
}

.news-card.news-card-elevated:hover .thumbnail::before,
.news-card.news-card-h:hover .thumbnail::before,
.news-card.news-card-v:hover .thumbnail::before {
    opacity: .6;
    z-index: 2
}

.news-card.news-card-elevated:hover .thumbnail .see-more,
.news-card.news-card-h:hover .thumbnail .see-more,
.news-card.news-card-v:hover .thumbnail .see-more {
    transform: translate(-50%, -50%);
    opacity: 1
}

.news-card .thumbnail {
    position: relative;
    display: flex;
    height: 16.875rem;
    flex-shrink: 0;
    overflow: hidden;
    border: 6px solid transparent;
    transition: all .2s ease
}

.news-card .thumbnail::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #b2bb1e;
    transition: all .2s ease;
    opacity: 0
}

.news-card .thumbnail img {
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: auto
}

.news-card .thumbnail .see-more {
    position: absolute;
    z-index: 3;
    top: 50%;
    left: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 10rem;
    height: 3.125rem;
    color: #fff;
    border: 1px solid #fff;
    transition: all .2s ease;
    transform: translate(-50%, -30%);
    opacity: 0
}

.news-card .thumbnail .see-more i {
    margin-left: .6rem;
    transform: rotate(135deg)
}

.news-card .news-detail {
    height: 100%;
    padding: 1.25rem .625rem;
    color: #222221
}

.news-card .news-detail .title {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: 500;
    line-height: 1.1;
    margin-top: .625rem
}

.news-card .news-detail .detail {
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-top: .625rem
}

.board-card {
    display: flex;
    min-height: 22.75rem
}

@media (max-width:767.98px) {
    .board-card {
        flex-direction: column;
        min-height: 18rem
    }
}

.board-card .board-img {
    position: relative;
    display: flex;
    flex-shrink: 0;
    width: 16.875rem;
    overflow: hidden
}

@media (max-width:767.98px) {
    .board-card .board-img {
        width: 100%;
        height: 18.5rem
    }
}

.board-card .board-img img {
    position: absolute;
    top: 50%;
    left: 50%;
    height: 100%;
    transform: translate(-50%, -50%)
}

@media (max-width:767.98px) {
    .board-card .board-img img {
        width: 65%;
        height: auto
    }
}

.board-card .board-detail {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding: .9375rem 1.25rem;
    background-color: #f4f4f4
}

@media (max-width:767.98px) {
    .board-card .board-detail {
        background-color: #fff;
        padding: 0 1rem .9375rem 1rem
    }
}

.board-card .board-detail .name {
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1.4
}

@media (max-width:767.98px) {
    .board-card .board-detail .name {
        font-size: 1.35rem;
        font-weight: 500;
        line-height: 1.1
    }
}

.board-card .board-detail .detail-block {
    display: flex;
    flex-direction: column;
    font-size: 1.375rem;
    line-height: 1.1
}

@media (max-width:767.98px) {
    .board-card .board-detail .detail-block {
        font-size: 1.25rem;
        line-height: .9
    }
}

.board-card .board-detail .detail-block:not(:last-child) {
    margin-bottom: .625rem
}

.board-card .board-detail .detail-block .title {
    font-weight: 700
}

@media (max-width:767.98px) {
    .board-card .board-detail .detail-block .title {
        font-weight: 500
    }
}

.app-tabs {
    display: flex;
    align-items: stretch;
    justify-content: center;
    height: 3.6875rem;
    font-size: 1.25rem;
    background-color: #fff;
    border-bottom: 3px solid #222221
}

.app-tabs .app-tab {
    position: relative;
    display: flex;
    align-items: center;
    font-weight: 300;
    padding: 0 1.875rem;
    white-space: nowrap;
    overflow: hidden;
    cursor: pointer;
    transition: all .2s ease
}

.app-tabs .app-tab::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    transform: translate(-50%, 50%) rotate(45deg);
    width: 1.875rem;
    height: 1.875rem;
    background-color: #b2bb1e;
    opacity: 0;
    transition: all .2s ease
}

.app-tabs .app-tab.active,
.app-tabs .app-tab:hover {
    color: #fff;
    background-color: #222221
}

.app-tabs .app-tab.active::before,
.app-tabs .app-tab:hover::before {
    opacity: 1
}

.button-setting-wrapper {
    position: relative;
    width: 10rem;
    height: 3.4375rem;
    font-size: 1.6rem
}

.button-setting-wrapper:hover {
    cursor: pointer
}

.button-setting-wrapper:hover .button-setting-text {
    width: 100%;
    padding-left: 2.5rem
}

.button-setting-wrapper:hover .button-setting i {
    transform: rotate(-180deg)
}

.button-setting-wrapper .button-setting-text {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    align-items: center;
    width: 2.9375rem;
    height: 2.9375rem;
    color: #fff;
    background-color: #006664;
    border-radius: 50px;
    white-space: nowrap;
    transition: all .2s ease
}

.button-setting-wrapper .button-setting {
    position: absolute;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 3.4375rem;
    height: 3.4375rem;
    background-color: #b2bb1e;
    border-radius: 50%
}

.button-setting-wrapper .button-setting i {
    color: #fff;
    transition: all .2s ease
}

@media (max-width:767.98px) {
    .button-setting-wrapper {
        width: 6rem;
        height: 2.4375rem;
        font-size: 1.25rem
    }
    .button-setting-wrapper:hover .button-setting-text {
        padding-left: 1.2rem
    }
    .button-setting-wrapper .button-setting-text {
        width: 1.9375rem;
        height: 1.9375rem
    }
    .button-setting-wrapper .button-setting {
        width: 2.4375rem;
        height: 2.4375rem
    }
}

.card-hover-effect {
    position: relative
}

.card-hover-effect::after,
.card-hover-effect::before {
    position: absolute;
    z-index: 2;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transform: scale3d(0, 0, 1);
    transition: transform .3s ease-out 0s;
    background: rgba(255, 255, 255, .1);
    content: "";
    pointer-events: none
}

.card-hover-effect::before {
    transform-origin: left top
}

.card-hover-effect::after {
    transform-origin: right bottom
}

.card-hover-effect:focus::after,
.card-hover-effect:focus::before,
.card-hover-effect:hover::after,
.card-hover-effect:hover::before {
    transform: scale3d(1, 1, 1)
}

.swiper-pagination-bullet-active {
    background: #006664
}

.at-share-btn {
    position: relative
}

.at-share-btn::after {
    content: "";
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: inherit;
    border-radius: 38px;
    transition: all 275ms;
    transform: scale(1)
}

.at-share-btn .at-icon-wrapper {
    position: relative;
    z-index: 2
}

.at-share-btn .at-icon-wrapper>svg {
    transition: all 275ms
}

.at-share-btn:hover {
    transform: none!important;
    background-color: transparent!important
}

.at-share-btn:hover::after {
    transform: scale(0)
}

.at-share-btn:hover .at-icon-wrapper>svg {
    transform: scale(1.4)
}

.at-share-btn:focus {
    transform: none!important;
    outline: 0
}

.at-share-btn.at-svc-facebook:hover .at-icon-wrapper>svg {
    fill: #3b5998!important
}

.at-share-btn.at-svc-twitter:hover .at-icon-wrapper>svg {
    fill: #1da1f2!important
}

.at-share-btn.at-svc-messenger:hover .at-icon-wrapper>svg {
    fill: #0084ff!important
}

.at-share-btn.at-svc-lineme:hover .at-icon-wrapper>svg {
    fill: #00b900!important
}

.at-share-btn.at-svc-pinterest_share:hover .at-icon-wrapper>svg {
    fill: #00b900!important
}

.at-share-btn.at-svc-link:hover .at-icon-wrapper>svg {
    fill: #178bf4!important
}

.related-blocks {
    display: flex;
    flex-wrap: wrap;
    justify-content: center
}

.related-blocks .related-item {
    display: flex;
    flex: 0 1 20%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: .625rem;
    padding: .625rem;
    max-width: 183px;
    height: 140px;
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 1;
    text-align: center;
    color: #787878;
    background-color: #f2f2f2;
    transition: all .3s
}

.related-blocks .related-item img {
    margin-bottom: .2rem;
    transition: all .2s
}

.related-blocks .related-item.text-sm {
    font-size: 1.25rem
}

.related-blocks .related-item.text-sm img {
    margin-bottom: .4rem
}

.related-blocks .related-item:hover {
    background-color: #006664;
    color: #fff;
    font-weight: 500;
    cursor: pointer
}

.related-blocks .related-item:hover img {
    -webkit-filter: brightness(0) invert(1);
    filter: brightness(0) invert(1)
}

.related-blocks .related-item.related-bg-green-light:hover {
    background-color: #b2bb1e
}

.related-blocks .related-item.related-bg-brown:hover {
    background-color: #6e4b32
}

.related-blocks .related-item.related-bg-yellow:hover {
    background-color: #ffd800
}

.show-to-360 {
    display: none
}

@media (max-width:360px) {
    .show-to-360 {
        display: block!important
    }
}

.show-to-375 {
    display: none
}

@media (max-width:375px) {
    .show-to-375 {
        display: block!important
    }
}

.show-to-425 {
    display: none
}

@media (max-width:425px) {
    .show-to-425 {
        display: block!important
    }
}

.show-to-768 {
    display: none
}

@media (max-width:768px) {
    .show-to-768 {
        display: block!important
    }
}

.show-to-1024 {
    display: none
}

@media (max-width:1024px) {
    .show-to-1024 {
        display: block!important
    }
}

.show-to-1280 {
    display: none
}

@media (max-width:1280px) {
    .show-to-1280 {
        display: block!important
    }
}

.show-to-1366 {
    display: none
}

@media (max-width:1366px) {
    .show-to-1366 {
        display: block!important
    }
}

.show-to-1440 {
    display: none
}

@media (max-width:1440px) {
    .show-to-1440 {
        display: block!important
    }
}

.show-to-1920 {
    display: none
}

@media (max-width:1920px) {
    .show-to-1920 {
        display: block!important
    }
}

.show-to-2560 {
    display: none
}

@media (max-width:2560px) {
    .show-to-2560 {
        display: block!important
    }
}

.show-from-360 {
    display: none
}

@media (min-width:360px) {
    .show-from-360 {
        display: block!important
    }
}

.show-from-375 {
    display: none
}

@media (min-width:375px) {
    .show-from-375 {
        display: block!important
    }
}

.show-from-425 {
    display: none
}

@media (min-width:425px) {
    .show-from-425 {
        display: block!important
    }
}

.show-from-768 {
    display: none
}

@media (min-width:768px) {
    .show-from-768 {
        display: block!important
    }
}

.show-from-1024 {
    display: none
}

@media (min-width:1024px) {
    .show-from-1024 {
        display: block!important
    }
}

.show-from-1280 {
    display: none
}

@media (min-width:1280px) {
    .show-from-1280 {
        display: block!important
    }
}

.show-from-1366 {
    display: none
}

@media (min-width:1366px) {
    .show-from-1366 {
        display: block!important
    }
}

.show-from-1440 {
    display: none
}

@media (min-width:1440px) {
    .show-from-1440 {
        display: block!important
    }
}

.show-from-1920 {
    display: none
}

@media (min-width:1920px) {
    .show-from-1920 {
        display: block!important
    }
}

.show-from-2560 {
    display: none
}

@media (min-width:2560px) {
    .show-from-2560 {
        display: block!important
    }
}

.show-361-to-375 {
    display: none
}

@media (min-width:361px) and (max-width:375px) {
    .show-361-to-375 {
        display: block!important
    }
}

.show-376-to-425 {
    display: none
}

@media (min-width:376px) and (max-width:425px) {
    .show-376-to-425 {
        display: block!important
    }
}

.show-426-to-767 {
    display: none
}

@media (min-width:426px) and (max-width:767px) {
    .show-426-to-767 {
        display: block!important
    }
}

.show-768-to-1023 {
    display: none
}

@media (min-width:768px) and (max-width:1023px) {
    .show-768-to-1023 {
        display: block!important
    }
}

.show-1024-to-1279 {
    display: none
}

@media (min-width:1024px) and (max-width:1279px) {
    .show-1024-to-1279 {
        display: block!important
    }
}

.show-1280-to-1365 {
    display: none
}

@media (min-width:1280px) and (max-width:1365px) {
    .show-1280-to-1365 {
        display: block!important
    }
}

.show-1366-to-1439 {
    display: none
}

@media (min-width:1366px) and (max-width:1439px) {
    .show-1366-to-1439 {
        display: block!important
    }
}

.show-1440-to-1919 {
    display: none
}

@media (min-width:1440px) and (max-width:1919px) {
    .show-1440-to-1919 {
        display: block!important
    }
}

.show-1920-to-2559 {
    display: none
}

@media (min-width:1920px) and (max-width:2559px) {
    .show-1920-to-2559 {
        display: block!important
    }
}

.font-dbozonex {
    font-family: "DB Ozone X", Prompt, SansSerif
}

.font-dbozonex-light {
    font-family: "DB Ozone X", Prompt, SansSerif;
    font-weight: 300
}

.text-size-50 {
    font-size: 3.125em
}

.text-size-60 {
    font-size: 3.75em
}